.logo__text {
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  span {
    display: flex;
  }
}

.footer {
  background-color: #161616;
  padding: 160px 0 200px;
  &_container {
    text-align: center;
  }
  &_content {
    padding-bottom: 0;
  }
  &_copyright {
    margin-top: 100px;
    text-align: center;
    font-weight: 300;
    font-size: 17px;
  }
  &_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

@media screen and (max-width: 992px) {
  .footer {
    padding: 70px 0;
    &_content {
      border-bottom: 1px solid #3c3c3c;
      padding-bottom: 55px;
    }
  }
}

@media screen and (max-width: 767px) {
  .logo__img {
    width: 40px;
  }
  .footer {
    padding: 58px 16px 54px;
  }

  .logo__text {
    font-size: 18px;
    line-height: 20px;
  }
}
