.fadeInRight {
  animation: fadeInRight 1s ease-out;
}

.preFade {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.container {
  max-width: 1025px;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (max-width: 1340px) {
  .banner__img {
    width: 576px;
  }
}
@media screen and (max-width: 992px) {
  .banner__img {
    width: 384px;
  }
}
@media screen and (max-width: 480px) {
  .banner__img {
    width: 257px;
  }
}

.wow {
  visibility: hidden;
}
.btn {
  background-color: #ffd79c;
  border-radius: 22px;
  color: #000;
  font-size: 18px;
  padding: 27px 43px;
  cursor: pointer;
  border: none;
  font-weight: 700;
  transition: background 0.3s;
  display: inline-block;
}
.btn:hover {
  background-color: #ebbd78;
}
.title1 {
  font-size: 52px;
  color: #f8f8f8;
  line-height: 100%;
  position: relative;
  z-index: 10;
}
.text {
  font-size: 14px;
  line-height: 21px;
  color: #bfbfbf;
  margin: 0;
  letter-spacing: 0.035em;
  font-weight: 300;
}
.banner {
  padding-top: 150px;
  overflow: hidden;
  &__content {
    display: flex;
  }
  &__scroll-container {
    width: 640px;
    flex: 0 0 auto;
  }
  &__inf {
    margin-top: 140px;
  }
  &__text {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.035em;
    margin: 34px 0;
    padding-right: 16px;
  }
  &__bg:before {
    content: "";
    background: url(../img/banner-bg.png) center center no-repeat;
    display: block;
    z-index: -1;
    left: 50%;
    top: -235px;
    transform: translate(-18%, -18%);
    width: 1227px;
    height: 1227px;
    border-radius: 50%;
  }
  &__bg-box {
    flex: 0 0 auto;
    position: relative;
    margin-right: -290px;
  }
  &__img {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
  }
}
@media screen and (max-width: 1340px) {
  .title1 {
    font-size: 44px;
  }
  .btn {
    font-size: 16px;
    padding: 25px 35px;
    border-radius: 20px;
  }
  .banner__content {
    position: relative;
  }
  .banner__scroll-container {
    width: 650px;
  }
  .banner__inf {
    max-width: 45vw;
    margin-top: 50px;
  }
  .banner__text {
    font-size: 17px;
    line-height: 24px;
  }
  .banner__bg:before {
    width: 934px;
    height: 934px;
  }
}
@media screen and (max-width: 992px) {
  .title1 {
    font-size: 40px;
    letter-spacing: 0.04em;
  }
  .btn {
    font-size: 15px;
    padding: 22px 34px;
  }
  .banner {
    padding-top: 150px;
  }
  .banner__scroll-container {
    width: 410px;
  }
  .banner__inf {
    margin-top: 0;
    max-width: 410.5px;
    position: relative;
    z-index: 1;
  }
  .banner__bg:before {
    width: 623px;
    height: 623px;
  }

  .banner__text {
    margin: 16px 0;
    font-size: 15px;
    padding-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .title1 {
    font-size: 32px;
  }
  .banner__content {
    display: block;
  }
  .banner__scroll-container {
    width: auto;
  }
  .banner__bg-box {
    right: -60px;
  }
  .banner__bg {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-top: 16px;
  }
}
@media screen and (max-width: 480px) {
  .title1 {
    font-size: 26px;
  }
  .btn {
    font-size: 13px;
    padding: 20px 31px;
    border-radius: 15px;
  }
  .banner {
    padding-top: 95px;
    &__inf {
      // padding: 0 16px;
    }
    &__title {
      max-width: 290px;
    }
    &__text {
      font-size: 12px;
      line-height: 17px;
      margin: 13px 0;
    }
    &__btn {
      margin-top: 8px;
    }
    &__bg:before {
      width: 417px;
      height: 417px;
    }
    &__img {
      width: 257px;
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
